<!-- Wrapper -->
<!-- <section id="wrapper"> -->
    <!-- Acerca de -->
    <section id="acerca" class="wrapper spotlight style1">
        <div class="inner">
            <a href="#one" class="image"><a href="#" class="image"><img src="/assets/images/pic03.jpg" alt="" /></a></a>
            <div class="content">
                <h2 class="major">Acerca de:</h2>
                <p>Titulo que tienes (Full Stack Developer Jr);<br>
                    En esta sección debes poner información profesional resumida sobre vos.</p>
                <div class="redessociales">
                    <div id=iconos class="redessocialesiconos">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
    


<!-- </section> -->