<!-- One -->
<section id="newgrid" class="wrapper spotlight style3">
    <div class="inner">
        <div class="gridparacirculo">
            <div class="textogrid testogrid">HTML</div>
            <div class="textogrid1 testogrid">CSS</div>
            <div class="textogrid3 testogrid">JS</div>
            <div class="textogrid4 testogrid">Wordpress</div>
            <div class="textogrid5 testogrid">Angular</div>
            <div class="gridtext testogrid">Design</div>
            <div class="circlegrid circulo1">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 70">70%</div>
                </a>
            </div>
            <div class="circlegrid circulo2">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 60">60%</div>
                </a>

            </div>
            <div class="circlegrid circulo3 ">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 40">40%</div>
                </a>
            </div>
            <div class="circlegrid  circulo4 ">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 50">50%</div>
                </a>
            </div>
            <div class="circlegrid circulo5 ">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 30">30%</div>
                </a>
            </div>
            <div class="circlegrid circulo6 ">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 80">80%</div>
                </a>
            </div>
        </div>


        <div class="content">
            <h2 class="major">Wrapper number one</h2>
            <p> html css js
                angular wordpress design
                lorem
            </p>
            <a href="#" class="special">Learn more</a>
        </div>
    </div>
</section>
<!-- Two -->
<section id="two" class="wrapper alt spotlight style2">
    <div class="inner">
        <div class="gridparacirculo">
            <div class="textogrid testogrid">HTML</div>
            <div class="textogrid1 testogrid">CSS</div>
            <div class="textogrid3 testogrid">JS</div>
            <div class="textogrid4 testogrid">Wordpress</div>
            <div class="textogrid5 testogrid">Angular</div>
            <div class="gridtext testogrid">Design</div>
            <div class="circlegrid circulo1">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 70">70%</div>
                </a>
            </div>
            <div class="circlegrid circulo2">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 60">60%</div>
                </a>

            </div>
            <div class="circlegrid circulo3 ">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 40">40%</div>
                </a>
            </div>
            <div class="circlegrid  circulo4 ">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 50">50%</div>
                </a>
            </div>
            <div class="circlegrid circulo5 ">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 30">30%</div>
                </a>
            </div>
            <div class="circlegrid circulo6 ">
                <a href="#newgrid" class="imagegrid">
                    <div class="circle-diagram" style="--percent: 80">80%</div>
                </a>
            </div>
        </div>
        <div class="content">
            <h2 class="major">Wrapper number 2</h2>
            <p> Python, Seaborn, Matplot
                R, ,ggplot
            </p>
            <a href="#two" class="special">Learn more</a>
        </div>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper spotlight style1">
    <div class="inner">
        <a href="#" class="image"><img src="/assets/images/pic03.jpg" alt="" /></a>
        <div class="content">
            <h2 class="major">Wrapper #3</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, aut.</p>
            <a href="#" class="special">Learn more</a>
        </div>
    </div>
</section>

