
<h1>{{title}}</h1>
<app-boton text="Menu"></app-boton>


<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="index.html">Portfolio Lorenzo Erra</a></h1>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <div id="header2" class="alt1">
        <!-- <p>Hola</p> -->
        <ul>
            <div class="linearedes"></div>
            <li><i id="iconorotador" class="fab fa-instagram"></i></li>
            <li><i id="iconorotador2" class="fab fa-twitter"></i></li>
            <li><i id="iconorotador3" class="fab fa-github"></i></li>
            <div class="linearedes"></div>
        </ul>
    </div>

</div>

<!-- Menu -->
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#one">Acerca de</a></li>
            <li><a href="index.html#educacion">Educacion y Experiencia</a></li>
            <li><a href="index.html#four">Proyectos</a></li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <!-- <div class="logo"><span class="icon fa-gem"></span></div> -->
        <div class="logo"><a href="https://argentinaprograma.inti.gob.ar/"><img [src]="miPortfolio.logo" alt="JA"></a></div>
        <h2>Portfolio {{miPortfolio.name}} </h2>
        <p> {{miPortfolio.description}} <a href="http://html5up.net">...</a></p>
    </div>
    <div class="circulos">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

    </div>
</section>