<div>
    <h2>Task Tracker</h2>
    <p> 
        "logros": [
        "id": 1,
        "figura": "/assets/images/ezgif-2-f359272619.gif",
        "numero": "01",
        "titulo": "Gas ",
        "titulo2": "Emision",
        "descrip": "Emision NO2 in Argentina"
        "id": 2,
        "figura": "/assets/images/covid43.jpg",
        "numero": "02",
        "titulo": "COVID-19 ",
        "titulo2": "Track",
        "descrip": "COVID-19 tracking in Argentina"
        "id": 3,
        "figura": "/assets/images/arq43.jpeg",
        "numero": "03",
        "titulo": "Proyect ",
        "titulo2": "DLE",
        "descrip": "ARQ Web Portfolio "
        "id": 4,
        "figura": "/assets/images/arq43.jpeg",
        "numero": "04",
        "titulo": "Proyect ",
        "titulo2": "HOTEL",
        "descrip": "Hotel Web"
        "id": 5,
        "figura": "/assets/images/arq43.jpeg",
        "numero": "05",
        "titulo": "Proyect ",
        "titulo2": "HOTEL",
        "descrip": "Hotel Web"
    </p>
    <a routerLink="/">Go Back</a>
</div>